{:paths ["src"]
 :deps {io.github.keychera/odoyle-rules {:git/sha "15c5f2cc0905cf54bd76db627f2114721cf75e32"}}
 :jank {:include-dirs ["native"]
        :library-dirs ["native"]
        :linked-libraries ["compress"]}}
